body {
    text-transform: uppercase;
    font-family: "PT Sans", "Myriad Pro", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    
    min-width: 1200px;
}

h2 {
    font-family: "PTSans Bold", "Myriad Pro", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

h3 {
    font-family: "PTSans Bold", "Myriad Pro", sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    line-height: 18px;
    color: #000000; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display:table;
    clear:both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #dbdbdb;
}

/* Стили для хедера*/
.main-header {
    background-color: #ffffff;
    
    color: #000000;
}

.main-navigation {
    width: 1056px;
    height: 56px;
    
    margin: 0 72px;
        
    text-align: center;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
} 

.main-navigation li {
    width: 20%;
    
    margin: 0;
}

.main-navigation li:nth-child(1),
.main-navigation li:nth-child(2) {
    float: left;
    text-align: left;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
    float: right;
    text-align: right;
}

.nav-logo {
    top: 0;
    left: 50%;
    
    position: absolute;
    margin-left:-70px;
}

.main-navigation a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.current-page a {
    color: #766357;
}

.current-page a:hover {
    color: #604e43;
}

.current-page a:active {
    color: #766357;
    opacity: 0.3;
}

/* Стили для основной части*/

/* index */


.background-photo img {
    display: block;
    width: 1200px;
    height: 507px;
}

.title-info {
    padding-top: 55px;
    text-align: center;
    
    width: 576px;
    min-height: 108px;
    margin: 0 auto 53px;
    box-sizing: border-box;
}

p.slogan {
    width: 457px;
    margin: 0 auto 27px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold; 
}

.title-info .title-features {
    font-size: 14px;
    line-height: 26px;
    
    width: 498px;
    margin: 0 auto;
}


.row {
    height: 256px;
    width: 1200px;
}

.row:nth-child(2) {
    height: 331px;
}

.col-2 {
    height: 256px;
}

.row:nth-child(3) .col-2 {
    float: left;
}

.col-1 {
    width: 400px;
    float: left;
    height: 256px;
    text-align: center;
    padding: 55px 50px;
}

.row:nth-child(2) .col-1 {
    min-height: 331px;
}

.features-block img {
    width: 800px;
    height: 256px;
}

.feature-title {
    display: block;
    margin-bottom: 26px;
    
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.feature-description p {
    margin-top: 29px;
}

.bg-blue {
    background-color: #81b3d2;
    color: #ffffff;
}

.row.bg-white {
    background-color: #ffffff;
}

.row.bg-beige {
    background-color: #eeeeee;
}

.arguments-block b {
    display: block;
    position: relative;
    
    padding-top: 164px;
}

.arguments-block b::before {
    content: "";
    position: absolute;
    
    width: 70px;
    height: 70px;
    background-color: red;
    top: 60px;
    left: 50%;
    
    background: transparent url("../img/spritesheet.png") no-repeat;
}

b.accomodation::before {
    width: 75px;
    height: 72px;
    margin-left: -36px;
    
    background-position: -89px -5px;
}

b.food::before {
    width: 74px;
    height: 70px;
    margin-left: -37px;
    
    background-position: -5px -5px;
}

b.souvenirs::before {
    width: 64px;
    height: 76px;
    margin-left: -32px;
    
    background-position: -5px -87px;
}

.argument p{
    padding: 0;
    margin: 27px auto 0;
    
    width: 300px;
}

.argument {
    margin: 0;
    padding: 0;
}



.booking {
    min-height: 290px;
}

.booking-container {
    width: 567px;
    margin: 0 auto;
    min-height: 100px;
    padding-top: 53px;
    text-align: center;
    
    position: relative;
}

.booking-title {
    min-height: 28px;
    margin-bottom: 29px;
    
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}

.booking-tip {
    min-height: 37px;
    margin-bottom: 45px;
}

.booking a {
    display: block;
    width: 100%;
    background-color: #766357;
    
    padding-top: 41px;
    padding-bottom: 41px;
        
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    
    position: relative;
    z-index: 15;  
}

form.hotel-search {
    position: absolute;
    top: 301px;
    left: 50%;
    margin-left: -283.5px;
    
    width: 567px;
    margin-top: 0px;
    height: 396px;
    padding: 55px 53px;
    
    text-align: left;
    box-shadow: 0 0 10px 5px #dbdbdb;
    
    display: none;
    background: #ffffff;
}

form.hotel-search-show {
    display: block;
    animation: bounce 0.6s;
}


@keyframes bounce {
  0%   {
    transform: translateY(-100px);
  }
  60%  {
    transform: translateY(0px);
  }
  80%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.form-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 30px;
    
    font-size: 14px;
    line-height: 26px;
    font-family: "PT Sans", "Myriad Pro", sans-serif;
    font-weight: bold;
    color: #000000;
    
    position: relative;
}

.booking .input-text {    
    background-color: #f2f2f2;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #f2f2f2;
    
    outline: none;
    border: none;
    -webkit-appearance: none;
}

.booking .input-text:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
} 

.booking .input-text:focus {
    background-color: #ffffff;
    border: 2px solid #f5f5f5;
}


.booking .input-text {
    width: 345px;
    padding: 8px 12px;
    padding-right: 9px;
    margin-left: 20px;
    
    position: relative;
}

::-webkit-input-placeholder {
    color:#000000;
    opacity: 1;
}

::-moz-placeholder {
    color:#000000;
    opacity: 1;
}

:-moz-placeholder {
    color:#000000;
    opacity: 1;
}
:-ms-input-placeholder {
    color:#000000;
    opacity: 1;
}

.icon-calendar {
    width: 21px;
    height: 22px;
    background-image: url("../img/icon-calendar.png");
    background-repeat: no-repeat;
    
    position: absolute;
    left: 425px;
    top: 10px;
    
    z-index: 10;
    
    cursor: pointer;
}

.icon-calendar:hover {
    background-image: url("../img/icon-calendar-hvr.png");
}

.person-count input, 
.person-count button {
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: aqua;
    
    width: 35px;
    height: 35px;
    
    margin: 0;
}

.person-count input {
    padding-left: 13px;
}

.count-wrapper {
    width: 113px;
    height: 38px;
    display: inline-block;
    
    background-color: #f2f2f2;    
}

.form-item.adults {
    float: left;
}

.adults label {
    margin-right: 40px;
}

.children label {
    margin-right: 27px;
}

.form-item.children {
    float: right;
}

button.minus {
    position: relative;
    
}

button.minus:after {
    content: "";
    position: absolute;
    
    width: 13px;
	height: 3px;
	background: red;
    
    top: 17px;
    left: 11px;
}

button.plus {
    position: relative;
}

button.plus:after {
    content: "";
    background: red;
    height: 13px;
    position: absolute;
    width: 3px;
    
    top: 11px;
    left: 15px;
}

.btn-search {
    background-color: #81b3d2;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    
    text-transform: uppercase;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-family: "PT Sans", "Myriad Pro", sans-serif;
    font-weight: bold;
    
    outline: none;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #669ec0;
}

.map {
    width: 1200px;
    height: 476px;
}


/* sedona-hotels */

.filter {
    width: 1200px;
    height: 217px;
    padding: 32px 72px;
    background: #608bb3 url("../img/hotels_background.jpg");
    
    color: #ffffff;
}



.filter .infrastructure {
    float: left;
    width: 165px;
    min-height: 155px;
    margin-right: 75px;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter li{
    margin-bottom: 23px;
    
    font-size: 14px;
    line-height: 21px;
}

.filter h3 {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    
    margin-bottom: 28px;    
}

.filter .accomodation-type {
    float: left;
    width: 288px;
    padding-left: 14px;
    min-height: 155px;
}

.filter .price {
    float: right;
    width: 327px;
}

.filter-range {
    width: 330px;
}

.filter-range-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    
    margin-bottom: 9px;
}

.price-controls {
    height: 36px;
    margin-bottom: 20px;
    margin-left: 10px;
    
    font-size: 0;
    
    border: 2px solid #ffffff;
    border-radius: 2px;
    
    position: relative;
    
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 2px;
    height: 22px;
    
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    
    font-size: 14px;
    line-height: 32px;
    vertical-align: top;
    
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 155px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    margin-left: 3px;
    
    color: inherit;
    font: inherit;
    
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    margin-left: 10px;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 20px;
    height: 20px;
    
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background-color: #1c4f80;
}

.range-controls {
    position: relative;
    
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    
    background: rgba(255, 255, 255, 0.3);
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn-transparent:hover {
    background-color: #ffffff;
    color: #000000;
}

.result-header {
    min-height: 86px;
    padding: 0;
    padding-left: 72px;
    padding-right: 72px;
    
    position: relative;
}

.result-header span {
    display: block;
    float: left;
    width: 117px;
    min-height: 25px;
    margin-right: 46px;
    margin-top: 30px;
    background-color: aquamarine;
    
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.sorting li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 35px;
}

.sorting a {
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2; 
    
    color: #cacaca;
    font-size: 12px;
    line-height: 18px;
}

.current-filter a {
    color: #81b3d2;
    border: none;
    
    cursor: default;
}

.sorting a:not(.current-filter):hover {
    color: #81b3d2;
}

.result-header h4 {
    display: block;
    float: left;
    min-height: 13px;
    margin-right: 36px;
    margin-top: 37px;
    background-color: darkkhaki;
    
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sorting-direction {
    float: right;
    height: 12px;
    width: 37px;
    
    position: absolute;   
    top: 39px;
    right: 66px;
}

.sorting-direction a {
    display: block;
    
    float: left;
    width: 13px;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.arrow-up {
    margin-right: 12px;
	border-bottom: 10px solid #ccc;
}

.arrow-up:hover {
    border-color: #000000;
}

.arrow-up:active {
    border-color: #81b3d2;
}

.arrow-down {
    border-top: 10px solid #81b3d2;
}



.result-row {
    height: 151px;
    padding: 30px 72px;
    background-color: #fefefe;
    
    border-bottom: 1px solid #f9f9f9;
}

.result-row:first-child {
    border-top: 1px solid #f9f9f9;
}

.accomodation-title a {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    
    color: #000000;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.accomodation-title a:hover {
    color: #81b3d2;
}

.accomodation-photo {
    float: left;
    width: 135px;
    margin-right: 30px;
}

.accomodation-info {
    width: 275px;
    min-height: 90px;
    float: left;
    padding: 0;
}

.btn {
    color: #ffffff;
    
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    
    text-decoration: none;
    
    padding: 6px 13px;
}

.btn-info {
    background-color: #81b3d2;
    margin-right: 6px;
}

.btn-info:hover {
    background-color: #669ec0; 
} 

.btn-booking {
    background-color: #766357;
}

.btn-booking:hover {
    background-color: #604e43;
}

.info-type {
    display: block;
    float: left;
    width: 108px;
    
    margin-right: 6px;
}

.type-price {
    margin-bottom: 10px;
    margin-top: 8px;
    padding: 0;
}

.raiting-block {
    float: right;
    max-height: 90px;
}

.raiting {
    background-color: #f2f2f2;
    
    padding: 5px 16px;
    margin-top: 37px;
}

/* Звезды */
.star {
    display: inline-block;
    width: 17px;
    height: 17px;
    
    margin-right: 6px;
    
    background: url("../img/raiting-star.png") no-repeat;
    float: right;
}

.star:first-child {
    margin-right: 0;
}

/* Стили для подвала */

footer {
    vertical-align: middle;
    
    height: 120px;
    background-color: aqua;
}

.hash-tag {
    /*float: left;*/
    /*width: 240px;*/
    /*min-height: 20px;*/
    /*margin-right: 165px;*/
    text-align: center;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    
    /*padding-top: 57px;*/
    /*padding-bottom: 57px;*/
}

.footer-social {
    background-color: antiquewhite;
}

.social-btn {
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 46px;
    margin-right: 6px;
    font-size: 0;
    
    background: #81b3d2 url("../img/icon_spritesheet.png") no-repeat;
    
}

.social-btn:last-child {
    margin-right: 0;
}

.social-btn-twitter {
    background-position: -85px -25px;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn-facebook {
    background-position: -25px -25px;
}

.social-btn-youtube {
    background-position: -85px -90px;
}

.footer-copyright {
    margin-right: 0;
    padding: 45px 0;
}

.footer-copyright p {
    float: left;
    margin-right: 7px;
    margin-left: 100px;
    margin-top: 5px;
    
    line-height: 26px;
    font-size: 14px;
    font-weight: normal;
    
    vertical-align: middle;
}

.main-footer .col-1 {
    height: 120px;
    margin: 0;
}

.footer-copyright img {
    width: 113px;
    height: 39px;
    display: block;
    margin: 0;
}

.footer-copyright a {
    
}