body {
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    
    min-width: 1200px;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

h3 {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    line-height: 18px;
    color: #000000; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display:table;
    clear:both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #dbdbdb;
}

/* Styles for header*/
.main-header {
    background-color: #ffffff;
    
    color: #000000;
    
    position: relative;
}

.main-navigation {
    width: 1056px;
    height: 56px;
    
    margin: 0 72px;
        
    text-align: center;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
} 

.main-navigation li {
    width: 23%;
    
    margin: 0;
}

.main-navigation li:nth-child(1),
.main-navigation li:nth-child(2) {
    float: left;
    text-align: left;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
    float: right;
    text-align: right;
}

.nav-logo {
    top: 0;
    left: 50%;
    
    position: absolute;
    margin-left:-69px;
}

.main-navigation a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    
    -webkit-transition: 0.3s ease;
     -moz-transition: 0.3s ease;
     -o-transition: 0.3s ease;
     transition: 0.3s ease;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.current-page a {
    color: #766357;
}

.current-page a:hover {
    color: #604e43;
}

.current-page a:active {
    color: #766357;
    opacity: 0.3;
}

/* Styles for content*/


/* index.html */

.background-photo img {
    display: block;
    width: 1200px;
    height: 507px;
}

.title-info {
    padding-top: 61px;
    text-align: center;
    
    width: 576px;
    min-height: 108px;
    margin: 0 auto 51px;
    box-sizing: border-box;
}

p.slogan {
    width: 457px;
    margin: 0 auto 27px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold; 
}

.title-info .title-features {
    font-size: 14px;
    line-height: 26px;
    
    width: 498px;
    margin: 0 auto;
}


.row {
    height: 256px;
    width: 1200px;
}

.row:nth-child(2) {
    height: 331px;
}

.col-2 {
    height: 256px;
}

.row:nth-child(3) .col-2 {
    float: left;
}

.col-1 {
    width: 400px;
    height: 256px;
    
    float: left;
    text-align: center;
    padding: 55px 49px;
}

.row:nth-child(2) .col-1 {
    min-height: 331px;
}

.features-block img {
    width: 800px;
    height: 256px;
}

.feature-title {
    display: block;
    margin-bottom: 23px;
    
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.feature-description p {
    margin-top: 21px;
}

.bg-blue {
    background-color: #81b3d2;
    color: #ffffff;
}

.row.bg-white {
    background-color: #ffffff;
}

.row.bg-beige {
    background-color: #eeeeee;
}

.other-features .col-1 {
    padding-top: 46px;
}

.arguments-block b {
    display: block;
    position: relative;
    
    padding-top: 162px;
    
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.arguments-block b::before {
    content: "";
    position: absolute;
    
    width: 70px;
    height: 70px;
    background-color: red;
    top: 60px;
    left: 50%;
    
    background: transparent url("../img/spritesheet.png") no-repeat;
}

b.accomodation::before {
    width: 75px;
    height: 72px;
    margin-left: -38px;
    
    background-position: -89px -5px;
}

b.food::before {
    width: 74px;
    height: 70px;
    margin-left: -37px;
    
    background-position: -5px -5px;
}

b.souvenirs::before {
    width: 64px;
    height: 76px;
    margin-left: -32px;
    
    background-position: -5px -90px;
}

.argument p{
    padding: 0;
    margin: 24px auto 0;
    
    width: 300px;
}

.argument {
    margin: 0;
    padding: 0;
}


/* Booking form */

.booking {
    min-height: 289px;
}

.booking-container {
    width: 567px;
    margin: 0 auto;
    min-height: 100px;
    padding-top: 54px;
    text-align: center;
    
    position: relative;
}

.booking-title {
    min-height: 28px;
    margin-bottom: 29px;
    
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}

.booking-tip {
    min-height: 37px;
    margin-bottom: 49px;
    
    line-height: 22px;
}

.booking a {
    display: block;
    width: 100%;
    
    background-color: #766357;
    
    padding-top: 30px;
    padding-bottom: 29px;
        
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    
    position: relative;
    z-index: 15;  
}

form.hotel-search {
    position: absolute;
    top: 290px;
    left: 50%;
    margin-left: -283.5px;
    
    width: 567px;
    margin-top: 0px;
    height: 396px;
    padding: 53px 53px;
    
    text-align: left;
    box-shadow: 0 0 10px 5px #dbdbdb;
    
    display: none;
    background: #ffffff;
}

form.hotel-search-show {
    display: block;
    animation: bounce 0.6s;
}

@keyframes bounce {
  0%   {
    transform: translateY(-90px);
  }
  60%  {
    transform: translateY(0px);
  }
  80%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.form-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 26px;
    
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    
    position: relative;
}

.booking .input-text {    
    background-color: #f2f2f2;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #f2f2f2;
    
    outline: none;
    border: none;
    -webkit-appearance: none;
}

.booking .input-text:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
    
    outline: none;
    border: none;
    -webkit-appearance: none;
} 

.booking .input-text:focus {
    background-color: #ffffff;
    border: 2px solid #f5f5f5;
    
    outline: none;
    border: none;
    -webkit-appearance: none;
}

.booking .input-text {
    width: 345px;
    
    padding: 8px 12px;
    padding-right: 9px;
    margin-left: 20px;
    
    position: relative;
}

::-webkit-input-placeholder {
    color:#000000;
    opacity: 1;
}

::-moz-placeholder {
    color:#000000;
    opacity: 1;
}

:-moz-placeholder {
    color:#000000;
    opacity: 1;
}
:-ms-input-placeholder {
    color:#000000;
    opacity: 1;
}

.icon-calendar {
    width: 21px;
    height: 22px;
    background-image: url("../img/icon-calendar.png");
    background-repeat: no-repeat;
    
    position: absolute;
    left: 430px;
    top: 10px;
    
    z-index: 10;
    
    cursor: pointer;
}

.icon-calendar:hover {
    background-image: url("../img/icon-calendar-hvr.png");
}

.icon-calendar:active {
    background-image: url("../img/icon-calendar-active.png");
}

.count-wrapper input, 
.count-wrapper a {
    background-color: #f2f2f2;
    
    width: 36px;
    height: 36px;
    
    margin: 0;
    padding: 0;
    
    position: absolute;
}

.person-count {
    margin-top: 4px;
}

.person-count a {
    display: block;
    cursor: pointer;
}

a.minus {
    left:0;
    top: 0;
    
    background: #f2f2f2 url("../img/plus_minus_spritesheet.png") no-repeat -12px -8px;
}

a.minus:hover {
    background-position: -13px -61px;
}

a.minus:active {
    background-position: -75px -8px;
}

a.plus {
    right: 0;
    top: 0;
    
    background: #f2f2f2 url("../img/plus_minus_spritesheet.png") no-repeat -75px -65px;
}

a.plus:hover {
    background-position: -136px -73px;
}

a.plus:active {
    background-position: -137px -12px;
}

.count-wrapper input {
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    
    margin:0;
   
    left: 33%;
    top: 0;
    
    padding-left: 14px;
}

.count-wrapper {
    width: 111px;
    height: 36px;
    
    display: inline-block;
    vertical-align: middle;
    
    margin: 0;
    padding: 0;
    
    position: relative;
    background-color: #f2f2f2;
}

.form-item.adults {
    float: left;
}

.adults label {
    margin-right: 40px;
}

.children label {
    margin-right: 29px;
}

.form-item.children {
    float: right;
}

.btn-search {
    background-color: #81b3d2;
    
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 27px;
    
    text-transform: uppercase;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    
    outline: none;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #669ec0;
}

/* Map */

.map {
    width: 1200px;
    height: 476px;
}

.iframe {
    border: none;
}


/* sedona-hotels.html */

.filter {
    width: 1200px;
    height: 217px;
    padding: 27px 71px;
    padding-right: 75px;
    
    background: #608bb3 url("../img/hotels_background.jpg");
    
    color: #ffffff;
}

.filter .infrastructure {
    float: left;
    width: 165px;
    min-height: 155px;
    margin-right: 76px;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter li{
    margin-bottom: 24px;
    
    font-size: 14px;
    line-height: 21px;
}

.filter h3 {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    
    margin-bottom: 26px;    
}

.filter .accomodation-type {
    float: left;
    padding-left: 14px;
    
    width: 288px;
    min-height: 155px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox label {
    cursor: pointer;
    padding-left: 0;
}

.checkbox label:before {
    content: "";
    
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 22px;
    
    
    background:  url("../img/checkbox_spritesheet.png") no-repeat -25px -25px;
    margin-right: 15px;
    
    margin-top: -5px;
}

input[type="checkbox"]:checked + label::before {
    background-position: -25px -97px; 
}

.filter .price {
    float: right;
    width: 327px;
    
    padding-left: 2px;
}

.filter-range {
    width: 330px;
}

.filter-range-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    
    margin-bottom: 9px;
}

.price-controls {
    height: 36px;
    margin-bottom: 20px;
    margin-left: 10px;
    
    font-size: 0;
    
    border: 2px solid #ffffff;
    border-radius: 2px;
    
    position: relative;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 2px;
    height: 22px;
    
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    
    font-size: 14px;
    line-height: 32px;
    vertical-align: top;
    
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 155px;
    padding-left: 65px;
}

.price-controls .max-price {
    padding-left: 59px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    margin-left: 3px;
    
    color: inherit;
    font: inherit;
    
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    margin-left: 10px;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 20px;
    height: 20px;
    
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 79%;
}

.range-toggle:hover {
    background-color: #1c4f80;
}

.range-controls {
    position: relative;
    
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    
    background: rgba(255, 255, 255, 0.3);
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 32px;
    
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn-transparent:hover {
    background-color: #ffffff;
    color: #000000;
}

.result-header {
    min-height: 86px;
    padding: 0;
    padding-left: 72px;
    padding-right: 72px;
    
    position: relative;
}

.result-header span {
    display: block;
    float: left;
    width: 117px;
    min-height: 25px;
    margin-right: 48px;
    margin-top: 30px;
    
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.sorting li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 35px;
}

.sorting a {
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2; 
    
    color: #cacaca;
    font-size: 12px;
    line-height: 18px;
}

.current-filter a {
    color: #81b3d2;
    border: none;
    
    cursor: default;
}

.sorting a:not(.current-filter):hover {
    color: #81b3d2;
}

.result-header h4 {
    display: block;
    float: left;
    min-height: 13px;
    margin-right: 36px;
    margin-top: 39px;
    
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sorting-direction {
    float: right;
    height: 12px;
    width: 37px;
    
    position: absolute;   
    top: 39px;
    right: 70px;
}

.sorting-direction a {
    display: block;
    
    float: left;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.arrow-up {
    margin-right: 13px;
	border-bottom: 10px solid #ccc;
}

.arrow-up:hover {
    border-bottom-color: #000000;
}

.arrow-up:active {
    border-bottom-color: #81b3d2;
}

.arrow-down {
    border-top: 10px solid #81b3d2;
}

.result-row {
    height: 151px;
    padding: 25px 72px;
    background-color: #fefefe;
    
    border-bottom: 1px solid #f9f9f9;
}

.result-row:first-child {
    border-top: 1px solid #f9f9f9;
}

.accomodation-title a {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    
    color: #000000;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.accomodation-title a:hover {
    color: #81b3d2;
}

.accomodation-photo {
    float: left;
    width: 135px;
    margin-right: 30px;
    
    margin-top: 5px;
}

.accomodation-info {
    width: 275px;
    min-height: 90px;
    
    float: left;
    padding: 0;
}

.btn {
    color: #ffffff;
    
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    
    text-decoration: none;
    
    padding: 5px 17px;
}

.btn-info {
    background-color: #81b3d2;
    margin-right: 1px;
}

.btn-info:hover {
    background-color: #669ec0; 
} 

.btn-booking {
    background-color: #766357;
}

.btn-booking:hover {
    background-color: #604e43;
}

.info-type {
    display: block;
    float: left;
    margin-right: 6px;
    
    width: 108px;  
    
}

.type-price {
    margin-bottom: 17px;
    margin-top: 8px;
    padding: 0;
}

.raiting-block {
    float: right;
    max-height: 90px;
}

.raiting {
    background-color: #f2f2f2;
    
    padding: 4px 14px;
    margin-top: 47px;
}

/* Stars */

.stars-line {
    margin-top: 4px;
    margin-right: 2px;
}

.star {
    display: inline-block;
    width: 17px;
    height: 17px;
    
    margin-right: 6px;
    
    background: url("../img/raiting-star.png") no-repeat;
    float: right;
}

.star:first-child {
    margin-right: 0;
}


/* Styles for footer */

footer {
    text-align: center;
    
    width: 1200px;
    height: 120px;
    
    padding: 33px 72px;   
    font-size: 0;
}

.footer-hotels {
    padding: 36px 72px;
}

.hash-tag {    
    vertical-align: middle;
    display: inline-block;
    
    width: 30%;
}

.hash-tag p{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    text-align: left;
    padding-left: 61px;
}

.footer-social {
    width: 40%;
    height: 46px;
    
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    
    padding-left: 5px;
    margin-top: 1px;
}

.social-btn {
    font-size:0;
    
    vertical-align: middle;
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    
    background: #81b3d2 url("../img/icon_spritesheet.png") no-repeat;
}

.social-btn-twitter {
    background-position: -70px -8px;
    
    -webkit-transition: 0.3s ease;
     -moz-transition: 0.3s ease;
     -o-transition: 0.3s ease;
     transition: 0.3s ease;
}

.social-btn-facebook {
    background-position: -7px -12px;
    
    -webkit-transition: 0.3s ease;
     -moz-transition: 0.3s ease;
     -o-transition: 0.3s ease;
     transition: 0.3s ease;
}

.social-btn-youtube {
    background-position: -72px -74px;
    
    -webkit-transition: 0.3s ease;
     -moz-transition: 0.3s ease;
     -o-transition: 0.3s ease;
     transition: 0.3s ease;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background: #5496bd url("../img/icon_active_spritesheet.png") no-repeat;
}

.social-btn-twitter:active {
    background-position: -70px -10px;
}

.social-btn-facebook:active {
    background-position: -7px -13px;
}

.social-btn-youtube:active {
    background-position: -72px -75px;
}

.footer-copyright {
    width: 30%;
    
    text-align: right;
    
    vertical-align: middle;
    display: inline-block;
}

.footer-copyright p {
    display: block;
    float: left;
    margin-left: 91px;
    margin-top: 6px;
    
    line-height: 26px;
    font-size: 14px;
    font-weight: normal;
    
    vertical-align: middle;
}

.btn-site {
    display: block;
    width: 113px;
    height: 39px;
    margin: 0;
    background: #ffffff url("../img/htmlacademy_logo.png") center no-repeat;
    
    vertical-align: middle;
    display: inline-block;
    margin-right: 30px;
    
    -webkit-transition: 0.3s ease;
     -moz-transition: 0.3s ease;
     -o-transition: 0.3s ease;
     transition: 0.3s ease;
}

.btn-site:hover {
    background-image: url("../img/htmlacademy_logo_hover.png");
}

.btn-site:active {
    background-image: url("../img/htmlacademy_logo_active.png");
}